<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//noear.org//DTD Mapper 3.0//EN" "http://noear.org/dtd/weed3-mapper.dtd">
<mapper namespace="apidemo2.dso.mapper.RegisterMapper"
        proxy="apidemo2.dso.service.RegisterService"
        import="apidemo2.model.data.*"
        db="water">

    <sql id="addService" return="long" remarks="添加服务"
         declare="model:WaterRegServiceDo">
        INSERT INTO water_reg_service
            (`key`,`name`,`address`,`meta`,
             `alarm_mobile`,`is_unstable`,`check_url`,
             `check_type`,`code_location`,
             `check_last_state`,`check_last_time`,`check_last_note`)
             VALUES (@{model.key}, @{model.name}, @{model.address}, @{model.meta},
                     @{model.alarm_mobile}, @{model.is_unstable}, @{model.check_url},
                     @{model.check_type}, @{model.code_location},
                     0,NOW(), '')
    </sql>

    <sql id="udpService" return="long" remarks="更新服务"
         declare="model:WaterRegServiceDo">
        UPDATE water_reg_service
            SET `meta`=@{model.meta},
                `alarm_mobile`=@{model.alarm_mobile},
                `is_unstable`=@{model.is_unstable},
                `check_url`=@{model.check_url},
                `check_type`=@{model.check_type},
                `code_location`=@{model.code_location}
            WHERE `key`=@{model.key}
    </sql>

    <sql id="delService" return="long" remarks="删除服务">
        DELETE FROM water_reg_service
        WHERE `key`=@{key:String}
    </sql>

    <sql id="getServiceList" return="List[WaterRegServiceDo]" remarks="查找服务">
        SELECT * FROM water_reg_service
            WHERE `name`=@{name:String} AND is_enabled=1 AND check_last_state = 0
    </sql>

</mapper>